<div class="centered" [ngStyle]="{ width: Game.getGameWidth() + 'px' }">
  <header>
    <h2>2048</h2>
    <div class="btn" (click)="startGame()">Nová hra</div>
    <div class="score">{{ '' }}</div>
  </header>
  <main>

    <div
      *ngIf="Game.gameStatus != 'running' && Game.gameStatus != 'beforeStart'"
      class="gameStatus"
      [ngStyle]="{
        width: Game.getGameWidth()  + 'px',
        height: Game.getGameWidth()  + 'px'
      }"  
    >
      <p *ngIf="Game.gameStatus == 'gameOver'">PROHRÁL JSI!</p>
      <p *ngIf="Game.gameStatus == 'gameWon'">VYHRÁL JSI!</p>
    </div>

    <div
      class="game"
      [ngStyle]="{
        width: Game.getGameWidth()  + 'px',
        height: Game.getGameWidth()  + 'px'
      }"
    >
      <div
        class="tile tile-background no-animation"
        *ngFor="let tile of Game.grid.generateEmptyGrid()"
        [ngStyle]="{
          translate:
          Game.getGameMargin() * (tile.position.x + 1) +
            getMath().floor(tile.position.x) * Game.getTileSize() +
            'px ' +
            (Game.getGameMargin() * (getMath().floor(tile.position.y) + 1) +
              getMath().floor(tile.position.y) * Game.getTileSize()) +
            'px',

          width: Game.getTileSize() + 'px',
          height: Game.getTileSize() + 'px',

          backgroundColor: getTileType(0).background
        }"
      ></div>

      <div
        [ngClass]="{
          tile: true,
          appearing: tile.appearing,
          merging: tile.merged
        }"
        *ngFor="let tile of Game.grid.getAllTiles()"
        [ngStyle]="{
          translate: TilePositionFormat(getTilePosition(tile)),

          width: Game.getTileSize() + 'px',
          height: Game.getTileSize() + 'px',

          backgroundColor: getTileType(tile.value).background,
          color: getTileType(tile.value).color,
        }"
      >
        {{ tile.value }}
      </div>
    </div>
  </main>
  <footer>

    <p class="description"><b>JAK HRÁT:</b> Pro pohyb s dlaždicemi používej šipky. Když se dvě dlaždice se stejným číslem dotknou, spojí se do jedné.</p>

  </footer>
</div>
