<div class="centered" [ngStyle]="{ width: Game.getConfig().gameWidth + 'px' }">
  <header>
    <h2>2048</h2>
    <p (click)="Game.startGame()">New Game</p>
  </header>
  <main>
    <div
      class="game"
      [ngStyle]="{
        width: Game.getConfig().gameWidth + 'px',
        height: Game.getConfig().gameWidth + 'px'
      }"
    >
      <div
        class="tile tile-background no-animation"
        *ngFor="let tile of Game.getAllEmptyTiles()"
        [ngStyle]="{
          translate:
            Game.getConfig().tileMargin * (tile.x + 1) +
            getMath().floor(tile.x) * Game.getTileSize() +
            'px ' +
            (Game.getConfig().tileMargin * (getMath().floor(tile.y) + 1) +
              getMath().floor(tile.y) * Game.getTileSize()) +
            'px',

          width: Game.getTileSize() + 'px',
          height: Game.getTileSize() + 'px',

          backgroundColor: Game.getTileInfo(0).background,
          color: Game.getTileInfo(0).color
        }"
      ></div>

      <div
        [ngClass]="{
          tile: true,
          'tile-background': tile.num === 0,
          'no-animation': tile.num === 0,
          'appearing': tile.status === 'appearing',
          'merging': tile.status === 'merging'
        }"
        *ngFor="let tile of Game.getUsedTiles()"
        [ngStyle]="{
          translate:
            Game.getConfig().tileMargin * (tile.x + 1) +
            getMath().floor(tile.x) * Game.getTileSize() +
            'px ' +
            (Game.getConfig().tileMargin * (getMath().floor(tile.y) + 1) +
              getMath().floor(tile.y) * Game.getTileSize()) +
            'px',

          width: Game.getTileSize() + 'px',
          height: Game.getTileSize() + 'px',

          backgroundColor: Game.getTileInfo(tile.num).background,
          color: Game.getTileInfo(tile.num).color
        }"
      >
        {{ getMath().pow(2, tile.num) }}
      </div>
    </div>
  </main>
  <footer>

    <p (click)="Game.getInformation()">Click to get info</p>

  </footer>
</div>
