<div class="centered" [ngStyle]="{ width: newGame.getGameWidth() + 'px' }">
  <header>
    <h2>2048</h2>
    <!-- <p (click)="Game.startGame()">New Game</p> -->
    <h1 *ngIf="newGame.gameStatus == 'gameOver'">Game Over</h1>
  </header>
  <main>
    <div
      class="game"
      [ngStyle]="{
        width: newGame.getGameWidth()  + 'px',
        height: newGame.getGameWidth()  + 'px'
      }"
    >
      <div
        class="tile tile-background no-animation"
        *ngFor="let tile of newGame.grid.generateEmptyGrid()"
        [ngStyle]="{
          translate:
            newGame.getGameMargin() * (tile.position.x + 1) +
            getMath().floor(tile.position.x) * newGame.getTileSize() +
            'px ' +
            (newGame.getGameMargin() * (getMath().floor(tile.position.y) + 1) +
              getMath().floor(tile.position.y) * newGame.getTileSize()) +
            'px',

          width: newGame.getTileSize() + 'px',
          height: newGame.getTileSize() + 'px',

          backgroundColor: getTileType(0).background
        }"
      ></div>

      <div
        [ngClass]="{
          tile: true
        }"
        *ngFor="let tile of newGame.grid.getAllTiles()"
        [ngStyle]="{
          translate: TilePositionFormat(getTilePosition(tile)),

          width: newGame.getTileSize() + 'px',
          height: newGame.getTileSize() + 'px',

          backgroundColor: getTileType(tile.value).background,
          color: getTileType(tile.value).color,
        }"
      >
        {{ tile.value }}
      </div>
    </div>
  </main>
  <footer>

    <p class="description"><b>JAK HRÁT:</b> Pro pohyb s dlaždicemi používej šipky. Když se dvě dlaždice se stejným číslem dotknou, spojí se do jedné.</p>
    <!-- <p (click)="Game.getInformation()">Click to get info</p>
    <p (click)="Game.generateTile(1)">Generate tile</p> -->

  </footer>
</div>
